:root {
  --wrapper-max-width: 720px;
}

/******************
 * Misc
 ******************/
.pre-wrap {
  white-space: pre-wrap;
}

pre {
  padding: 16px 0 36pxs;
}

.spacer {
  height: 72px;
  width: 100%;
}

pre#state {
  position: fixed;
  background: rgba(255, 218, 224, 0.9);
  z-index: 1;
  bottom: 8px;
  left: 8px;
  padding: 8px;
}

/******************
 * Timeline
 ******************/
.timeline {
  line-height: 1;
  margin-bottom: 24px;
  height: 32px;
  width: 100%;
  position: fixed;
  background: white;
  z-index: 1000;
  margin: 0 24px;
}

.point {
  background-color: #aaa;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 10px solid white;
  box-shadow: 0 0 1px rgba(255, 255, 255, 1);
  position: absolute;
  top: 8px;
  margin-left: -15px;
  cursor: pointer;
  transition: all 100ms ease;
  z-index: -1;
}

.point:hover,
.point.hovered {
  background-color: #555;
  transition: all 100ms ease;
}

.point.selected {
  background-color: black;
  font-weight: bold;
  z-index: 1;
  width: 10px;
  height: 10px;
  top: 15px;
  margin-left: -5px;
  border-radius: 5px;
  transition: color 30ms ease;
}

.point.selected .pulsating-dot {
  margin-left: -17px;
  margin-top: -15px;
}

.pulsating-dot {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  width: fit-content;
  // border: 3px solid pink; // For debugging
}

.dot,
.pulse {
  grid-column: 1;
  grid-row: 1;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: black;
  border: 2px solid lightgrey;
  border-radius: 50%;
  z-index: 1;
}

.pulse {
  background-color: grey;
  -webkit-border-radius: 30px;
  height: 25px;
  width: 25px;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 1;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1); // translate(-0.25px, -0.25px);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(1.1, 1.1); // translate(-0.25px, -0.25px);
    opacity: 0;
  }
}

.timeline-background {
  display: flex;
  align-items: stretch;
  opacity: 0.4;
  width: 100%;
}

.timeline-background > * {
  flex-grow: 1;
  border-left: 1px solid grey;
  padding: 4px 8px 0 4px;
  font-size: 0.6em;
}

/******************
 * Content
 ******************/

.wrapper {
  max-width: var(--wrapper-max-width);
  margin: auto;
  padding: 0 36px;
}

.html-text .r6o-annotation {
  color: #444;
  border-bottom: 2px dotted #bbb;
  font-weight: 600;
  cursor: pointer;
}

.html-text .r6o-annotation:hover,
.html-text .r6o-annotation {
  color: black;
  border-bottom: 2px dotted rgb(117, 111, 111);
}

.html-text .r6o-annotation.selected {
  color: #444;
  // border-bottom: 2px solid #555;
  // border-bottom: 2px solid black;
}

.html-text .r6o-annotation.selected:hover {
  color: black;
  // border-bottom: 2px solid black;
  // border-bottom: 2px solid black;
}

.html-text .r6o-annotation,
.html-text .r6o-annotation:hover,
.html-text .r6o-annotation.selected,
.html-text .r6o-annotation.selected:hover {
  transition: all 80ms ease;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

:focus {
  outline: none;
}

.animated-link--wrapper {
  display: inline-grid;
  width: fit-content;
  height: fit-content;
}

.animated-link--wrapper * {
  grid-column: 1;
  grid-row: 1;
}

.animated-link--border {
  height: 2px;
  background-color: #555;
  opacity: 0;
  align-self: end;
  transition: all 150ms ease-in;
  width: 0%;
}

.animated-link--link:hover + .animated-link--border {
  background-color: black;
}

.animated-link--link.selected + .animated-link--border {
  width: 100%;
  opacity: 1;
  transition: all 150ms ease-in;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.container {
  height: 100vh;
  position: fixed;
  width: 24px;
  left: calc(55% + 0.5 * var(--wrapper-max-width));
}
.arrow {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 60px; /*change with size of arrow to make sit on bottom */
  font-weight: 600;
  font-size: 2em;
  color: #aaa;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
