/******************
 * Misc
 ******************/
.pre-wrap {
  white-space: pre-wrap;
}

pre {
  padding: 16px 0 36pxs;
}

.spacer {
  height: 72px;
  width: 100%;
}

/******************
 * Timeline
 ******************/
.timeline {
  line-height: 1;
  margin-bottom: 24px;
  height: 32px;
  width: 100%;
  position: fixed;
  background: white;
  z-index: 1000;
  margin: 0 24px;
}

.point {
  background-color: #aaa;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(255, 255, 255, 1);
  position: absolute;
  top: 16px;
  margin-left: -4px;
  cursor: pointer;
  transition: all 100ms ease;
}

.point:hover {
  background-color: black;
  transition: all 100ms ease;
}

.point.selected {
  background-color: black;
  font-weight: bold;
  z-index: 1;
  width: 10px;
  height: 10px;
  top: 15px;
  margin-left: -5px;
  border-radius: 5px;
  transition: all 30ms ease;
}

.point.selected .pulsating-dot {
  margin-left: -8px;
  margin-top: -6px;
}

.pulsating-dot {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  width: fit-content;
  // border: 3px solid pink; // For debugging
}

.dot,
.pulse {
  grid-column: 1;
  grid-row: 1;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: rgb(0, 212, 166);
  border: 2px solid white;
  border-radius: 50%;
}

.pulse {
  background-color: rgba(0, 230, 181, 0.5);
  -webkit-border-radius: 30px;
  height: 25px;
  width: 25px;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 1;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1); // translate(-0.25px, -0.25px);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(1.1, 1.1); // translate(-0.25px, -0.25px);
    opacity: 0;
  }
}

.timeline-background {
  display: flex;
  align-items: stretch;
  opacity: 0.4;
  width: 100%;
}

.timeline-background > * {
  flex-grow: 1;
  border-left: 1px solid grey;
  padding: 4px 8px 0 4px;
  font-size: 0.6em;
}

/******************
 * Content
 ******************/

.wrapper {
  max-width: 720px;
  margin: auto;
  padding: 0 36px;
}

.html-text .timeline-item {
  color: #444;
  padding: 0px 1px;
  margin: 0px 2px 0 -1px;
  border-bottom: 2px dotted #bbb;
  font-weight: 600;
  cursor: pointer;
}

.html-text .timeline-item:hover {
  color: black;
  border-bottom: 2px dotted rgb(117, 111, 111);
}

.html-text .timeline-item.selected {
  color: #444;
  border-bottom: 2px solid #555;
}

.html-text .timeline-item.selected:hover {
  color: black;
  border-bottom: 2px solid black;
}

.html-text .timeline-item,
.html-text .timeline-item:hover,
.html-text .timeline-item.selected,
.html-text .timeline-item.selected:hover {
  transition: all 150ms ease;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

html,
body {
  border: 0;
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

.effect-1-wrapper {
  display: grid;
}

.effect-1-wrapper * {
  grid-column: 1;
  grid-row: 1;
}
.effect-1 {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

.focus-border {
  width: 0;
  height: 2px;
  background-color: #3399ff;
  transition: 0.4s;
  align-self: end;
}

.effect-1:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}

.effect-1-wrapper {
  height: fit-content;
}
